autogluon_common==1.5.0
autogluon_core==1.5.0
autogluon_features==1.5.0
autogluon_tabular==1.5.0
catboost==1.2.10
dowhy==0.14
evidently==0.7.21
joblib==1.5.3
langchain_experimental==0.4.2
langchain_google_genai==4.2.6
langgraph==1.2.6
lightgbm==4.6.0
matplotlib==3.11.0
mysql_connector_repackaged==0.3.1
networkx==3.6.1
numpy==2.5.0
openpyxl==3.1.5
pandas==3.0.3
plotly==5.24.1
polars==1.42.0
protobuf==7.35.1
pulp==3.3.2
python_docx==1.2.0
scikit_learn==1.9.0
scipy==1.18.0
shap==0.52.0
SQLAlchemy==2.0.51
statsmodels==0.14.6
streamlit==1.58.0
torch==2.12.1+cpu
xgboost==3.3.0
